@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
* {
  margin: 0;
  padding: 0; }

nav {
  background-image: url(../IMG/fondo-pag/fondo-pag.png);
  padding: 1rem;
  font-size: 1.5rem; }
  nav ul {
    text-align: center; }
  nav li {
    color: white; }
  nav a {
    text-decoration: none;
    font-family: "Amatic SC", cursive;
    font-size: 1em; }

#Logo {
  width: 15%;
  padding: 5px; }

body {
  background-image: url(../IMG/fondo-pag/fondo-pag.png);
  background-attachment: fixed; }

h1, h2 {
  font-family: "Amatic SC", cursive;
  font-size: 2em; }

h3 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: white; }

p {
  font-family: "Amatic SC", cursive;
  font-size: 1em;
  line-height: 1.5em;
  color: white; }

main {
  display: flex;
  padding: 1em; }

aside {
  padding: 1em;
  background-color: green; }

img {
  width: 100%; }

h1 {
  font-size: 1em; }

h2 {
  font-size: 2em;
  background-color: whitesmoke;
  font-weight: 800;
  text-align: center; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 4em; }

h5 {
  font-size: 5em; }

h6 {
  font-size: 6em; }

footer {
  padding: 1em;
  color: white; }
  footer p {
    text-align: center; }

.p15{
  padding: 15px;
}

/*LOGO WHATSAPP*/

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color:#fff;
}

.my-float{
  margin-top:16px;
}

/*FIN LOGO WHATSAPP*/