//Variables
*{
	margin: 0;
	padding:0;
}

$lang:es;

$bg-white:white;
$bg-dark:black;
$bg-info:green;
$bg-success:violet;

$text-alignCenter: center;
$text-alignRight: right;
$text-alignLeft: left;
$text-transform: lowercase;

$w-15:15%;
$w-25:25%;
$w-50:50%;
$w-75:75%;
$w-100:100%;

$d-flex:flex;
$d-block:block;

$py-1:1em 0;
$px-1:0 1em;
$p:1em;




